@charset "utf-8";

imageback
#sociales, #experiencia, #educacion, #contacto, #habilidades{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 2em;
    background-color:pink;
}

p.bio, h1{
    font-size: 50px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}

h2{
    text-align: center;
}

.listas{
    background-color:black;
    color: blueviolet;
}

.formulario{
    font-size: 2em;
}

.redes{
    color: pink;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_1280.jpg);
    background-repeat: no-repeat;
    color: fffff;

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}