@charset "utf-8";

imageback
#sociales, #experiencia, #educacion, #contacto, #habilidades{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 2em;
    background-color:pink;
}

p.bio, h1{
    font-size: 50px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}

h2{
    text-align: center;
}

.listas{
    background-color:black;
    color: blueviolet;
}

.formulario{
    font-size: 2em;
}

.redes{
    color: pink;
}

body{
    background-color: pink;
    background-image: url(https://pixabay.com/es/photos/v%C3%ADa-l%C3%A1ctea-cielo-estrellado-2971669/);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}